@model app_progetto.Models.ApiContent
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/myStyle.css" />
</head>
<body class="containerIframe">
    <h1> NASA Astronomy Picture Of The Days</h1>

    <h2>  @Html.DisplayFor(item => item.title)</h2>
    <p class="myDate"> Date: @Html.DisplayFor(item => item.date)</p>
    <img src="@Html.DisplayFor(item => item.hdurl)" width="500" ; height="500" />
    <p>  @Html.DisplayFor(item => item.explanation)</p>
    <img src="@Html.DisplayFor(item => item.url)" width="500" ; height="500" />

    <footer>
        <p style="font-weight:bold"> Copriryght @Html.DisplayFor(item => item.copyright)</p>
    </footer>
</body>
</html>





